# These owners will be the default owners for everything in the repo.
* @camunda/connectors

# Security-sensitive infrastructure
/.github/ @camunda/connectors-core
**/Dockerfile @camunda/connectors-core
