# These owners will be the default owners for everything in the repo.
* @camunda/connectors

# Custom rule for AI & IDP collaborators
/connectors/agentic-ai @camunda/connectors-agentic-ai @camunda/connectors
/connectors/idp-extraction @camunda/connectors-idp @camunda/connectors
/connectors/embeddings-vector-database @camunda/connectors-agentic-ai @camunda/connectors
/connectors-e2e-test/connectors-e2e-test-agentic-ai @camunda/connectors-agentic-ai @camunda/connectors
/connectors/aws/aws-bedrock-codeinterpreter @camunda/connectors-agentic-ai @camunda/connectors

# These files are excluded so that Renovate can automatically merge dependency upgrades
renovate.json @app/renovate-approve @camunda/connectors
**/*.yaml @app/renovate-approve @camunda/connectors
**/*.yml @app/renovate-approve @camunda/connectors
.github/**/*.yaml @app/renovate-approve @camunda/connectors
.github/**/*.yml @app/renovate-approve @camunda/connectors
.ci/preview-environments/charts/c8sm/*.yaml @app/renovate-approve @camunda/connectors
**/Dockerfile @app/renovate-approve @camunda/connectors
**/docker-images.properties @app/renovate-approve @camunda/connectors
.tool-versions @app/renovate-approve @camunda/connectors
**/pom.xml @app/renovate-approve @camunda/connectors
