# These owners will be the default owners for everything in the repo.
* @camunda/connectors

# Custom rule for AI & IDP collaborators
/connectors/agentic-ai @camunda/connector-ai-i-idp-collaborators
/connectors/idp-extraction @camunda/connector-ai-i-idp-collaborators
/connectors/embeddings-vector-database @camunda/connector-ai-i-idp-collaborators
/connectors-e2e-test/connectors-e2e-test-agentic-ai @camunda/connector-ai-i-idp-collaborators

# Security-sensitive infrastructure
/.github/ @camunda/connectors-core
**/Dockerfile @camunda/connectors-core
