---
# Default values for the Connectors preview environment

# Global values accessible from any chart or subchart
global:

  # Common labels
  labels:
    # app label will be dynamically set according to preview envrionment name
    app: connectors
    camunda.cloud/managed-by: Helm
    camunda.cloud/source: argocd
    team: connectors
  
  image:
    pullSecrets:
      - name: dockerhub-registry

  # still required by some subcharts (e.g. elasticsearch)
  imagePullSecrets:
    - name: dockerhub-registry

  # Preview environment configurations
  preview:
    git:
      # GitHub references for annotating resources
      # Branch name will be dynamically set with PR branch name
      branch: master
      repoUrl: https://github.com/camunda/connectors
    ingress:
      # The domain name under which to expose the preview environment
      domain: connectors.camunda.cloud

  # Camunda 8 Self-Managed global configurations
  elasticsearch:
    # necessary due to name override bugs
    url:
      host: elasticsearch
  identity:
    auth:
      # Use basic auth
      enabled: false

# Camunda 8 Self-Managed configurations
camunda-platform:
  fullnameOverride: "connectors"

  # Out-of-the-box Connectors
  connectors:
    enabled: true
    fullnameOverride: "connectors"
    contextPath: /connectors
    inbound:
      ## Use Identity-based authentication
      mode: oauth
    image:
      registry: registry.camunda.cloud
      repository: team-connectors/connectors-bundle
      pullSecrets:
        - name: registry-camunda-cloud
        - name: dockerhub-registry
    env:
      - name: JAVA_OPTS
        value: "-Xms512m -Xmx512m"
      - name: CAMUNDA_CLIENT_AUTH_CLIENT-ID
        value: ${ZEEBE_CLIENT_ID}
      - name: CAMUNDA_CLIENT_AUTH_CLIENT-SECRET
        value: ${ZEEBE_CLIENT_SECRET}
      - name: CAMUNDA_CLIENT_AUTH_AUDIENCE
        value: ${ZEEBE_TOKEN_AUDIENCE}
      - name: CAMUNDA_CLIENT_AUTH_ISSUER
        value: ${ZEEBE_AUTHORIZATION_SERVER_URL}
      - name: CAMUNDA_CONNECTOR_POLLING_ENABLED
        value: "false"
      - name: CAMUNDA_CLIENT_ZEEBE_REST-ADDRESS
        value: http://zeebe-cluster-gateway:9600
      - name: CAMUNDA_CLIENT_ZEEBE_GRPC-ADDRESS
        value: http://zeebe-cluster-gateway:26500
    resources:
      limits:
        cpu: 1.0
        memory: 1Gi
      requests:
        cpu: 0.5
        memory: 512Mi
    nodeSelector:
      cloud.google.com/gke-nodepool: previews
    tolerations:
      - key: "previews"
        operator: "Exists"
        effect: "NoSchedule"

  elasticsearch:
    enabled: true
    fullnameOverride: "elasticsearch"
    # image:
    #   repository: bitnami/elasticsearch
    #   tag: latest
    master:
      fullnameOverride: "elasticsearch-master"
      replicaCount: 1
      heapSize: 512m
      persistence:
        enabled: true
        size: 1Gi
      resources:
        limits:
          cpu: 1.0
          memory: 1Gi
        requests:
          cpu: 0.5
          memory: 512Mi
      nodeSelector:
        cloud.google.com/gke-nodepool: previews
      tolerations:
        - key: "previews"
          operator: "Exists"
          effect: "NoSchedule"

  identity:
    enabled: true
    fullnameOverride: "identity"
    contextPath: /identity
    fullURL: https://{{ include "ingress.domain" . }}{{ .Values.contextPath }}
    # image:
    #     repository: camunda/identity
    #     tag: latest
    env:
      # Pre-create an Identity test application to be used to access the Zeebe cluster endpoint
      - name: KEYCLOAK_CLIENTS_2_ID
        value: test
      - name: KEYCLOAK_CLIENTS_2_NAME
        value: test
      - name: KEYCLOAK_CLIENTS_2_SECRET
        value: test
      - name: KEYCLOAK_CLIENTS_2_REDIRECT_URIS_0
        value: /callback
      - name: KEYCLOAK_CLIENTS_2_ROOT_URL
        value: http://test
      - name: KEYCLOAK_CLIENTS_2_TYPE
        value: CONFIDENTIAL
      - name: KEYCLOAK_CLIENTS_2_PERMISSIONS_0_RESOURCE_SERVER_ID
        value: zeebe-api
      - name: KEYCLOAK_CLIENTS_2_PERMISSIONS_0_DEFINITION
        value: "write:*"
    resources:
      limits:
        cpu: "1"
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 512Mi
    nodeSelector:
      cloud.google.com/gke-nodepool: previews
    tolerations:
      - key: "previews"
        operator: "Exists"
        effect: "NoSchedule"

  identityKeycloak:
    enabled: false

  optimize:
    enabled: false

  tasklist:
    enabled: false

  webModeler:
    enabled: true
    fullnameOverride: "web-modeler"
    contextPath: /modeler
    image:
      pullSecrets:
        - name: dockerhub-registry
        - name: registry-camunda-cloud
      # tag: latest
    restapi:
      # image:
      #   repository: web-modeler-ee/modeler-restapi
      mail:
        # This value is required, otherwise, the restapi pod won't start.
        fromAddress: noreply@example.com
      resources:
        limits:
          cpu: "1"
          memory: 1Gi
        requests:
          cpu: 500m
          memory: 512Mi
      nodeSelector:
        cloud.google.com/gke-nodepool: previews
      tolerations:
        - key: "previews"
          operator: "Exists"
          effect: "NoSchedule"
    webapp:
      # image:
      #   repository: web-modeler-ee/modeler-webapp
      resources:
        limits:
          cpu: 100m
          memory: 256Mi
        requests:
          cpu: 40m
          memory: 256Mi
      nodeSelector:
        cloud.google.com/gke-nodepool: previews
      tolerations:
        - key: "previews"
          operator: "Exists"
          effect: "NoSchedule"
    websockets:
      # image:
      #   repository: web-modeler-ee/modeler-websockets
      resources:
        limits:
          cpu: 20m
          memory: 64Mi
        requests:
          cpu: 20m
          memory: 64Mi
      nodeSelector:
        cloud.google.com/gke-nodepool: previews
      tolerations:
        - key: "previews"
          operator: "Exists"
          effect: "NoSchedule"

  # WebModeler PostgreSQL
  webModelerPostgresql:
    enabled: true
    fullnameOverride: "web-modeler-postgresql"
    auth:
      existingSecret: postgresql
    primary:
      persistence:
        enabled: true
        size: 1Gi
      resources:
        limits:
          cpu: 500m
          memory: 512Mi
        requests:
          cpu: 250m
          memory: 256Mi
      nodeSelector:
        cloud.google.com/gke-nodepool: previews
      tolerations:
        - key: "previews"
          operator: "Exists"
          effect: "NoSchedule"

  core:
    enabled: true
    fullnameOverride: zeebe-cluster
    # image:
    #   repository: camunda/zeebe
    #   tag: latest
    clusterSize: "1"
    partitionCount: "1"
    replicationFactor: "1"
    persistenceType: disk
    pvcSize: 1Gi
    env:
      ## Adjustement required due to PVC size
      - name: ZEEBE_BROKER_DATA_DISK_FREESPACE_REPLICATION
        value: "100MB"
      - name: ZEEBE_BROKER_DATA_DISK_FREESPACE_PROCESSING
        value: "150MB"
    javaOpts: >-
      -Xms512m -Xmx512m
      -XX:+HeapDumpOnOutOfMemoryError
      -XX:HeapDumpPath=/usr/local/zeebe/data
      -XX:ErrorFile=/usr/local/zeebe/data/zeebe_error%p.log
      -XX:+ExitOnOutOfMemoryError
    resources:
      limits:
        cpu: "1"
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 512Mi
    nodeSelector:
      cloud.google.com/gke-nodepool: previews
    tolerations:
      - key: "previews"
        operator: "Exists"
        effect: "NoSchedule"
    contextPath: /core