name: ADD_TO_PROJECT

on:
  issues:
    types:
      - opened
      - transferred
      - labeled
  pull_request:
    types:
      - opened
      - labeled

jobs:
  add-by-label:
    name: Add issue to project if label
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        mapping:
          - label: idp
            project-url: https://github.com/orgs/camunda/projects/133/views/1
          - label: agentic-ai
            project-url: https://github.com/orgs/camunda/projects/155/views/1

    steps:
      - name: Import Secrets
        id: vault-secrets
        uses: hashicorp/vault-action@v3.4.0
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID}}
          secrets: |
            secret/data/products/connectors/ci/common GITHUB_APP_ID;
            secret/data/products/connectors/ci/common GITHUB_APP_PRIVATE_KEY;
      - name: Generate a GitHub token for connectors
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ steps.vault-secrets.outputs.GITHUB_APP_ID }}
          private-key: ${{ steps.vault-secrets.outputs.GITHUB_APP_PRIVATE_KEY }}
      - name: Get labels
        id: get-labels
        run: |
          echo "::set-output name=labels::$(jq -r '.issue? // .pull_request? | .labels[].name' <"$GITHUB_EVENT_PATH")"
        env:
          GITHUB_EVENT_PATH: ${{ github.event_path }}

      - name: Add to project if “${{ matrix.mapping.label }}” present
        if: contains(steps.get-labels.outputs.labels, matrix.mapping.label)
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: ${{ matrix.mapping.project-url }}
          github-token: ${{ steps.app-token.outputs.token }}

      # Mark that at least one label matched
      - name: Flag “matched”
        if: contains(steps.get-labels.outputs.labels, matrix.mapping.label)
        run: echo "::set-output name=matched::true"
        id: flag

  add-default:
    name: Add issue to project if no label
    runs-on: ubuntu-latest
    if: needs.add-by-label.outputs['flag.matched'] != 'true'
    steps:
      - name: Import Secrets
        id: vault-secrets
        uses: hashicorp/vault-action@v3.4.0
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID}}
          secrets: |
            secret/data/products/connectors/ci/common GITHUB_APP_ID;
            secret/data/products/connectors/ci/common GITHUB_APP_PRIVATE_KEY;
      - name: Generate a GitHub token for connectors
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ steps.vault-secrets.outputs.GITHUB_APP_ID }}
          private-key: ${{ steps.vault-secrets.outputs.GITHUB_APP_PRIVATE_KEY }}
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/camunda/projects/23/views/1
          github-token: ${{ steps.app-token.outputs.token }}

  add-quality-board:
    name: Add issue to quality board project if its a bug
    runs-on: ubuntu-latest
    if: (contains(github.event.label.name, 'bug') || contains(github.event.issue.labels.*.name, 'bug') || contains(github.event.issue.type.*.name, 'bug')) &&  github.event_name != 'pull_request'
    steps:
      - name: Import Secrets
        id: vault-secrets
        uses: hashicorp/vault-action@v3.4.0
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID}}
          secrets: |
            secret/data/products/connectors/ci/common GITHUB_APP_ID;
            secret/data/products/connectors/ci/common GITHUB_APP_PRIVATE_KEY;
      - name: Generate a GitHub token for connectors
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ steps.vault-secrets.outputs.GITHUB_APP_ID }}
          private-key: ${{ steps.vault-secrets.outputs.GITHUB_APP_PRIVATE_KEY }}
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/camunda/projects/187/views/1
          github-token: ${{ steps.app-token.outputs.token }}