name: Auto Assign PR Reviewers

on:
  pull_request:
    types: [opened, ready_for_review, review_requested]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    # Only run if the "connectors" team is in the requested reviewers
    # which should be assigned based on the ./CODEOWNERS configuration
    if: contains(github.event.pull_request.requested_teams.*.slug, 'connectors')
    permissions:
      pull-requests: write
    steps:
      - name: Assign Reviewer
        uses: Joxtacy/auto-assign-reviewers@v0.1.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Team members to consider for assignment can later be fetched from GitHub automatically
          team_members: 'sbuettner,ztefanie,mathias-vandaele,chillleader,johnBgood,vringar'
          # Adjust these weights to prioritize different factors
          weight_open_prs: 15          # Default: 10
          weight_lines_per_100: 2      # Default: 1
          weight_recent_reviews: 3     # Default: 3