name: Auto Assign PR Reviewers

on:
  pull_request:
    types: [opened, ready_for_review, review_requested]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.requested_teams.*.slug, 'connectors')
    steps:
      - id: get-members
        name: Get Team Members
        run: |
          members = gh api /orgs/camunda/teams/connectors/members --jq '[.[].login] | join(",")'
          echo 'MEMBERS='members >> $GITHUB_ENV
        with:
          organization: 'camunda'
          team: 'connectors'
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: assign-reviewer
        name: Assign Reviewer
        uses: Joxtacy/auto-assign-reviewers@v0.1.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Team members to consider for assignment can later be fetched from GitHub automatically
          team_members: ${{ steps.get-members.outputs.MEMBERS }}
          # Adjust these weights to prioritize different factors
          weight_open_prs: 0          # Default: 10
          weight_lines_per_100: 0     # Default: 1
          weight_recent_reviews: 10   # Default: 3