---
name: Check for PR conflicts

on:
  schedule:
  - cron: 23 1 * * 1-5
  workflow_dispatch:

jobs:
  check-pr-conflicts:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Check all PRs for conflict
      uses: camunda/infra-global-github-actions/preview-env/conflicts@main
