
name: Integration test

on:
  workflow_call:
    inputs:
      connectors-version:
        description: 'The version of the Connectors to test. If not provided, the version is determined based on the Maven project version. On main branch, the default is SNAPSHOT'
        required: false
        type: string
      release-branch:
        description: 'Connectors release branch containing code to test. If not provided, the Helm directory is determined based on the ref this workflow was triggered on (see helm-git-refs.json)'
        required: false
        type: string
  workflow_dispatch:
    inputs:
      connectors-version:
        description: 'The version of the Connectors to test. If not provided, the version is determined based on the Maven project version. On main branch, the default is SNAPSHOT'
        required: false
      helm-dir:
        description: 'The camunda-platform-helm/charts directory of the Helm chart to test against. If not provided, the directory is determined based on the ref this workflow was triggered on (see helm-git-refs.json)'
        required: false

defaults:
  run:
    # use bash shell by default to ensure pipefail behavior is the default
    # see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference
    shell: bash

jobs:
  prepare-inputs:
    runs-on: ubuntu-latest
    name: Prepare inputs
    outputs:
      connectors-version: ${{ steps.connectors-version.outputs.connectors-version }}
      helm-dir: ${{ steps.helm-dir.outputs.helm-dir }}
    steps:
      - uses: actions/checkout@v2

      - name: Install jq
        run: sudo apt-get install jq

      - name: Determine current Maven project version
        id: maven-version
        run: |
          echo "version=$(grep -oPm1 "(?<=<version>)[^<]+" "pom.xml")" >> $GITHUB_OUTPUT

      - name: Determine version of the Connectors image to use
        id: connectors-version
        run: |
          if [ -z "${{ inputs.connectors-version }}" ]; then
            if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
              echo "connectors-version=SNAPSHOT" >> $GITHUB_OUTPUT
            else
              echo "connectors-version=${{ steps.maven-version.outputs.version }}" >> $GITHUB_OUTPUT
            fi
          else
            echo "connectors-version=${{ inputs.connectors-version }}" >> $GITHUB_OUTPUT
          fi

      - name: Determine Helm chart ref to use
        id: helm-dir
        run: |
          if [ -z "${{ inputs.helm-dir }}" ]; then
            helm_branch=$(jq -r ".[\"${{ inputs.release-branch || github.ref_name }}\"]" .github/workflows/helm-git-refs.json)
            if [ -z "$helm_branch" ] || [ "$helm_branch" == "null" ]; then
              echo "::error::Could not determine Helm chart branch to use, please provide helm-dir input or adjust the mappings in .github/workflows/helm-git-refs.json"
              exit 1
            fi
            echo "helm-dir=$helm_branch" >> $GITHUB_OUTPUT
          else
            echo "helm-dir=${{ inputs.helm-dir }}" >> $GITHUB_OUTPUT
          fi

      - name: Log results
        run: |
          echo "Connectors version: ${{ steps.connectors-version.outputs.connectors-version }}"
          echo "Helm dir: ${{ steps.helm-dir.outputs.helm-dir }}"

  helm-deploy:
    needs: prepare-inputs
    name: Helm chart Integration Tests
    uses: camunda/camunda-platform-helm/.github/workflows/test-integration-template.yaml@main
    secrets: inherit
    with:
      identifier: connectors-int
      camunda-helm-dir: ${{ needs.prepare-inputs.outputs.helm-dir }}
      test-enabled: true
      extra-values: |
        connectors:
          image:
            tag: ${{ needs.prepare-inputs.outputs.connectors-version }}
