
name: Integration test

on:
  pull_request:
  workflow_dispatch:
    inputs:
      connectors_version:
        description: 'The version of the connectors to test'
        required: true
        default: '8.5.0-alpha2'

defaults:
  run:
    # use bash shell by default to ensure pipefail behavior is the default
    # see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference
    shell: bash

jobs:
  helm-deploy:
    name: Helm chart Integration Tests
    uses: camunda/camunda-platform-helm/.github/workflows/test-integration-template.yaml@main
    secrets: inherit
    with:
      identifier: connectors-int-${{ github.run_id }}
      persistent: true
      test-enabled: true
      extra-values: |
        zeebe:
          image:
            tag: 8.5.0-alpha2
        tasklist:
          image:
            tag: 8.5.0-alpha2
        operate:
          image:
            tag: 8.5.0-alpha2
        webModeler:
          restapi:
            image:
              tag: latest
          webapp:
            image:
              tag: latest
          websockets:
            image:
              tag: latest
        console:
          image:
            tag: latest
        identity:
          image:
            tag: SNAPSHOT
        connectors:
          image:
            tag: ${{ github.event.inputs.connectors_version }}
          env:
          - name: username
            value: username
          - name: password
            value: password