
name: Integration test

on:
  workflow_call:
    inputs:
      connectors-version:
        description: 'The version of the Connectors to test. If not provided, the version is determined based on the Maven project version. On main branch, the default is SNAPSHOT'
        required: false
        type: string
      release-branch:
        description: 'Connectors release branch containing code to test. If not provided, the Helm directory is determined based on the ref this workflow was triggered on (see helm-git-refs.json)'
        required: false
        type: string
  workflow_dispatch:
    inputs:
      connectors-version:
        description: 'The version of the Connectors to test. If not provided, the version is determined based on the Maven project version. On main branch, the default is SNAPSHOT'
        required: false
      helm-dir:
        description: 'The camunda-platform-helm/charts directory of the Helm chart to test against. If not provided, the directory is determined based on the ref this workflow was triggered on (see helm-git-refs.json)'
        required: false

defaults:
  run:
    # use bash shell by default to ensure pipefail behavior is the default
    # see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference
    shell: bash

jobs:
  prepare-inputs:
    runs-on: ubuntu-latest
    name: Prepare inputs
    outputs:
      connectors-registry: ${{ steps.determine-connectors-version.outputs.connectors-registry }}
      connectors-repository: ${{ steps.determine-connectors-version.outputs.connectors-repository }}
      connectors-version: ${{ steps.determine-connectors-version.outputs.connectors-version }}
      helm-dir: ${{ steps.determine-helm-dir.outputs.helm-dir }}
    steps:
      - uses: actions/checkout@v6

      - name: Install jq
        run: sudo apt-get install jq

      - name: Determine current Maven project version
        id: maven-version
        run: |
          echo "version=$(grep -oPm1 "(?<=<version>)[^<]+" "pom.xml")" >> $GITHUB_OUTPUT

      - name: Determine version of the Connectors image to use
        id: determine-connectors-version
        run: |
          if [ -z "${{ inputs.connectors-version }}" ]; then
            if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
              echo "connectors-registry=" >> $GITHUB_OUTPUT
              echo "connectors-repository=camunda/connectors-bundle" >> $GITHUB_OUTPUT
              echo "connectors-version=SNAPSHOT" >> $GITHUB_OUTPUT
            else
              echo "connectors-registry=registry.camunda.cloud" >> $GITHUB_OUTPUT
              echo "connectors-repository=team-connectors/connectors-bundle" >> $GITHUB_OUTPUT
              echo "connectors-version=${{ steps.maven-version.outputs.version }}" >> $GITHUB_OUTPUT
            fi
          else
            echo "connectors-registry=registry.camunda.cloud" >> $GITHUB_OUTPUT
            echo "connectors-repository=team-connectors/connectors-bundle" >> $GITHUB_OUTPUT
            echo "connectors-version=${{ inputs.connectors-version }}" >> $GITHUB_OUTPUT
          fi

      - name: Determine Helm chart directory to use
        id: determine-helm-dir
        run: |
          if [ -z "${{ inputs.helm-dir }}" ]; then
            helm_dir_from_map=$(jq -r ".[\"${{ inputs.release-branch || github.ref_name }}\"]" .github/workflows/helm-git-refs.json)
            if [ -z "$helm_dir_from_map" ] || [ "$helm_dir_from_map" == "null" ]; then
              echo "::error::Could not determine Helm chart dir to use, please provide helm-dir input or adjust the mappings in .github/workflows/helm-git-refs.json"
              exit 1
            fi
            echo "helm-dir=$helm_dir_from_map" >> $GITHUB_OUTPUT
          else
            echo "helm-dir=${{ inputs.helm-dir }}" >> $GITHUB_OUTPUT
          fi

      - name: Log results
        run: |
          echo "Connectors version: ${{ steps.determine-connectors-version.outputs.connectors-version }}"
          echo "Helm dir: ${{ steps.determine-helm-dir.outputs.helm-dir }}"

  helm-deploy:
    if: github.ref != 'refs/heads/main' && !contains(github.event.pull_request.labels.*.name, 'skip-helm-deploy')
    needs: prepare-inputs
    name: Helm chart Integration Tests
    uses: camunda/camunda-platform-helm/.github/workflows/test-integration-template.yaml@always-green/update-scenarios-global-secret-for-habor
    secrets: inherit
    with:
      identifier: connectors-int-${{ github.run_id }}
      camunda-helm-dir: ${{ needs.prepare-inputs.outputs.helm-dir }}
      camunda-helm-git-ref: always-green/update-scenarios-global-secret-for-habor
      # test-enabled enables testing generally, both IT and E2E tests.
      test-enabled: true
      # e2e-enabled is our way to disable E2E tests if needed.
      e2e-enabled: false
      # This scenario installs a full Camunda 8 cluster with Keycloak and Elasticsearch being external. 
      # This keycloak realm and elasticsearch prefixes are all randomly generated at installation time.
      scenario: keycloak-original
      shortname: keyco
      extra-values: |
        connectors:
          image:
            registry: ${{ needs.prepare-inputs.outputs.connectors-registry }}
            repository: ${{ needs.prepare-inputs.outputs.connectors-repository }}
            tag: ${{ needs.prepare-inputs.outputs.connectors-version }}
