---
name: preview-env-teardown
on:
  pull_request:
    types: [ unlabeled,closed ]

jobs:
  teardown-preview:
    # check whether the unlabel name was deploy-preview || check whether the PR was closed / merged and whether deploy-preview was part of the array
    if: github.event.label.name == 'deploy-preview' || (github.event.action == 'closed' && contains( github.event.pull_request.labels.*.name, 'deploy-preview') )
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    env:
      BRANCH_NAME: ${{ github.head_ref }} # head_ref = branch on PR
    strategy:
      fail-fast: false # Don't disrupt other deployments because of failure
      matrix:
        product_context: [c8sm]

    steps:
    #########################################################################
    # Sanitize the branch name to remove dependabot/,renovate/ and transform the name
    - id: sanitize
      uses: camunda/infra-global-github-actions/sanitize-branch-name@main
      with:
        branch: ${{ env.BRANCH_NAME }}
        max_length: '15'
    #########################################################################
    # Setup: import secrets from vault
    - name: Import secrets
      id: secrets
      uses: hashicorp/vault-action@d1720f055e0635fd932a1d2a48f87a666a57906c # v3.0.0
      with:
        url: ${{ secrets.VAULT_ADDR }}
        method: approle
        roleId: ${{ secrets.VAULT_ROLE_ID }}
        secretId: ${{ secrets.VAULT_SECRET_ID }}
        secrets: |
          secret/data/products/connectors/ci/common ARGOCD_TOKEN;
    #########################################################################
    # Setup: generate github app token
    - name: Generate a GitHub token
      id: github-token
      uses: camunda/infra-global-github-actions/generate-github-app-token-from-vault-secrets@main
      with:
        github-app-id-vault-key: GITHUB_PREVIEW_ENVIRONMENTS_APP_ID
        github-app-id-vault-path: secret/data/products/connectors/ci/common
        github-app-private-key-vault-key: GITHUB_PREVIEW_ENVIRONMENTS_APP_PRIVATE_KEY
        github-app-private-key-vault-path: secret/data/products/connectors/ci/common
        vault-auth-method: approle
        vault-auth-role-id: ${{ secrets.VAULT_ROLE_ID }}
        vault-auth-secret-id: ${{ secrets.VAULT_SECRET_ID}}
        vault-url: ${{ secrets.VAULT_ADDR }}
    #########################################################################
    # Setup: checkout code. This is required because we are using
    # composite actions and deployment manifests.
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    #########################################################################
    # Tear down preview environment
    - name: Tear down Preview Environment for ${{ matrix.product_context }}
      uses: camunda/infra-global-github-actions/preview-env/destroy@4d371d80474495ee187df50b76dadb8810dedbd7 #infra-456-feature-branch
      with:
        revision: ${{ env.BRANCH_NAME }}
        argocd_token: ${{ steps.secrets.outputs.ARGOCD_TOKEN }}
        app_name: connectors-${{ steps.sanitize.outputs.branch_name }}-${{ matrix.product_context }}
        # github_token: ${{ steps.github-token.outputs.token }}
  clean:
    if: always() && needs.teardown-preview.result != 'skipped'
    uses: camunda/connectors/.github/workflows/PREVIEW-ENV-CLEAN.yml@main
    needs: [teardown-preview]
    secrets: inherit
    with:
      pull-request: ${{ github.event.pull_request.number }}
  comment:
    if: always() && needs.teardown-preview.result != 'skipped'
    name: delete-deployment-result-summary
    runs-on: ubuntu-24.04
    needs: [teardown-preview]
    steps:
      - uses: camunda/infra-global-github-actions/preview-env/comment@main
