name: Pull Request Milestone Validation

on:
  pull_request:
    branches:
      - "*" # all branches
    types:
      - labeled
      - unlabeled
      - opened
      - reopened
      - synchronize
      - edited
      - milestoned
      - demilestoned

env:
  LABELS: ${{ join( github.event.pull_request.labels.*.name, ' ' ) }}

jobs:
  check-milestone:
    name: PR has a Milestone or the [no milestone] label
    runs-on: ubuntu-latest
    steps:
      - if: github.event.pull_request.milestone == null && contains( env.LABELS, 'no milestone' ) == false
        run: exit 1