name: Run uniquet and push
on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'The branch name to run the workflow on'
        required: true
        default: 'main'

jobs:
  run-uniquet-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21.0.9'
          distribution: 'temurin'

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.branch_name }}

      - name: install-uniquet
        run: |
          mvn install -pl element-template-generator/uniquet -am

      - name: run-uniquet
        run: |
          BRANCH_NAME=${{ github.event.inputs.branch_name }}
          ./element-template-generator/uniquet/target/appassembler/bin/uniquet --destination ./connector-templates.json --branch $BRANCH_NAME

      - name: Create pull request to main branch
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: single-file-element-template
          commit-message: "others(element-template): single element template file"
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          base: main
          title: "others(element-template): single element template file generation"
          labels: "no milestone"
          body: |
            This PR sets the new single element template file containing all necessary references.
