{"openapi":"3.0.1","info":{"title":"Web Modeler REST API","version":"013bfbb"},"servers":[{"url":"https://modeler.cloud.camunda.io","description":"Generated server url"}],"paths":{"/api/v1/collaborators":{"put":{"tags":["Collaborators"],"description":"Adds a new collaborator to a project or modifies the permission level of an existing collaborator.<br/><br/>\n<strong>Note:</strong> Only users that are part of the authorized organization\n(see <code>GET /api/v1/info</code>) <i>and</i> logged in to Web Modeler at least once can be added to a\nproject.\n","operationId":"modifyCollaborator","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCollaboratorDto"}}},"required":true},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/projects":{"post":{"tags":["Projects"],"description":"Creates a new project. This project will be created without any collaborators, so it will not be\nvisible in the UI by default. To assign collaborators, use <code>PUT /api/v1/collaborators</code>.\n","operationId":"createProject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/projects/search":{"post":{"tags":["Projects"],"description":"Searches for projects.<br/>\n<ul>\n  <li><p><em>filter</em> specifies which fields should match. Only items that match the given fields will be\n   returned.</p>\n   <p/><strong>Note:</strong> Date fields need to be specified in a format compatible with\n   <code>java.time.ZonedDateTime</code>; for example <code>2023-09-20T11:31:20.206801604Z</code>.<br/><br/>\n   You can use suffixes to match date ranges:\n   <table>\n    <thead>\n     <tr><th>Modifier</th><th>Description</th></tr>\n    </thead>\n    <tbody>\n     <tr><td>||/y</td><td>Within a year</td></tr>\n     <tr><td>||/M</td><td>Within a month</td></tr>\n     <tr><td>||/w</td><td>Within a week</td></tr>\n     <tr><td>||/d</td><td>Within a day</td></tr>\n     <tr><td>||/h</td><td>Within an hour</td></tr>\n     <tr><td>||/m</td><td>Within a minute</td></tr>\n     <tr><td>||/s</td><td>Within a second</td></tr>\n    </tbody>\n   </table>\n  </p></li>\n  <li><p><em>sort</em> specifies by which fields and direction (<code>ASC</code>/<code>DESC</code>) the result\n   should be sorted.</p></li>\n  <li><p><em>page</em> specifies the page number to return.</p></li>\n  <li><p><em>size</em> specifies the number of items per page. The default value is 10.</p></li>\n</ul>\n","operationId":"searchProjects","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PubSearchDtoProjectMetadataDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PubSearchResultDtoProjectMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/milestones":{"post":{"tags":["Milestones"],"operationId":"createMilestone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMilestoneDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MilestoneMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/milestones/search":{"post":{"tags":["Milestones"],"description":"Searches for milestones.<br/>\n<ul>\n  <li><p><em>filter</em> specifies which fields should match. Only items that match the given fields will be\n   returned.</p>\n   <p/><strong>Note:</strong> Date fields need to be specified in a format compatible with\n   <code>java.time.ZonedDateTime</code>; for example <code>2023-09-20T11:31:20.206801604Z</code>.<br/><br/>\n   You can use suffixes to match date ranges:\n   <table>\n    <thead>\n     <tr><th>Modifier</th><th>Description</th></tr>\n    </thead>\n    <tbody>\n     <tr><td>||/y</td><td>Within a year</td></tr>\n     <tr><td>||/M</td><td>Within a month</td></tr>\n     <tr><td>||/w</td><td>Within a week</td></tr>\n     <tr><td>||/d</td><td>Within a day</td></tr>\n     <tr><td>||/h</td><td>Within an hour</td></tr>\n     <tr><td>||/m</td><td>Within a minute</td></tr>\n     <tr><td>||/s</td><td>Within a second</td></tr>\n    </tbody>\n   </table>\n  </p></li>\n  <li><p><em>sort</em> specifies by which fields and direction (<code>ASC</code>/<code>DESC</code>) the result\n   should be sorted.</p></li>\n  <li><p><em>page</em> specifies the page number to return.</p></li>\n  <li><p><em>size</em> specifies the number of items per page. The default value is 10.</p></li>\n</ul>\n","operationId":"searchMilestones","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PubSearchDtoMilestoneMetadataDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PubSearchResultDtoMilestoneMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/folders":{"post":{"tags":["Folders"],"description":"Creates a new folder.<br/>\n<ul>\n  <li><p>When only <em>parentId</em> is given, the folder will be created in that\n      folder. The folder can be in any project of the same organization.</p></li>\n  <li><p>When <em>projectId</em> is given and <em>parentId</em> is either\n      null or omitted altogether, the folder will be created in the root of the project.</p></li>\n  <li><p>When <em>projectId</em> and <em>parentId</em> are both given,\n      they must be consistent - i.e. the parent folder is in the project.</p></li>\n</ul>\n","operationId":"createFolder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFolderDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/files":{"post":{"tags":["Files"],"description":"This endpoint creates a file.<br/>\n<br/>\nTo create a file, specify <em>projectId</em> and/or <em>folderId</em>:\n<ul>\n  <li><p>When only <em>folderId</em> is given, the file will be created in that\n      folder. The folder can be in any project of the same organization.</p></li>\n  <li><p>When <em>projectId</em> is given and <em>folderId</em> is either\n      null or omitted altogether, the file will be created in the root of the project.</p></li>\n  <li><p>When <em>projectId</em> and <em>folderId</em> are both given,\n      they must be consistent - i.e. the folder is in the project.</p></li>\n</ul>\n<p>For connector templates, the following constraints apply:</p>\n<ul>\n  <li><p>The value of <em>content.$schema</em> will be replaced with\n      <em>https://unpkg.com/@camunda/zeebe-element-templates-json-schema/resources/schema.json</em>\n      and validated against it.</p></li>\n  <li><p>The value of <em>name</em> takes precedence over <em>content.name</em>.\n      In case of mismatch, the latter will be adjusted to match the former automatically.</p></li>\n  <li><p>The value of <em>content.id</em> will be replaced with the file <em>id</em> generated by\n      Web Modeler.</p></li>\n  <li><p>The value of <em>content.version</em> is managed by Web Modeler and will be updated\n      automatically.</p></li>\n</ul>\n","operationId":"createFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFileDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/files/search":{"post":{"tags":["Files"],"description":"Searches for files.<br/>\n<ul>\n  <li><p><em>filter</em> specifies which fields should match. Only items that match the given fields will be\n   returned.</p>\n   <p/><strong>Note:</strong> Date fields need to be specified in a format compatible with\n   <code>java.time.ZonedDateTime</code>; for example <code>2023-09-20T11:31:20.206801604Z</code>.<br/><br/>\n   You can use suffixes to match date ranges:\n   <table>\n    <thead>\n     <tr><th>Modifier</th><th>Description</th></tr>\n    </thead>\n    <tbody>\n     <tr><td>||/y</td><td>Within a year</td></tr>\n     <tr><td>||/M</td><td>Within a month</td></tr>\n     <tr><td>||/w</td><td>Within a week</td></tr>\n     <tr><td>||/d</td><td>Within a day</td></tr>\n     <tr><td>||/h</td><td>Within an hour</td></tr>\n     <tr><td>||/m</td><td>Within a minute</td></tr>\n     <tr><td>||/s</td><td>Within a second</td></tr>\n    </tbody>\n   </table>\n  </p></li>\n  <li><p><em>sort</em> specifies by which fields and direction (<code>ASC</code>/<code>DESC</code>) the result\n   should be sorted.</p></li>\n  <li><p><em>page</em> specifies the page number to return.</p></li>\n  <li><p><em>size</em> specifies the number of items per page. The default value is 10.</p></li>\n</ul>\n","operationId":"searchFiles","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PubSearchDtoFileMetadataDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PubSearchResultDtoFileMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/collaborators/search":{"post":{"tags":["Collaborators"],"description":"Searches for collaborators.<br/>\n<ul>\n  <li><p><em>filter</em> specifies which fields should match. Only items that match the given fields will be\n   returned.</p></li>\n  <li><p><em>sort</em> specifies by which fields and direction (<code>ASC</code>/<code>DESC</code>) the result\n   should be sorted.</p></li>\n  <li><p><em>page</em> specifies the page number to return.</p></li>\n  <li><p><em>size</em> specifies the number of items per page. The default value is 10.</p></li>\n</ul>\n","operationId":"searchCollaborators","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PubSearchDtoProjectCollaboratorDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PubSearchResultDtoProjectCollaboratorDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/projects/{projectId}":{"get":{"tags":["Projects"],"operationId":"getProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDto"}}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]},"delete":{"tags":["Projects"],"description":"This endpoint deletes an empty project. A project is considered empty if there are no files in it.\n Deletion of resources is recursive and cannot be undone.","operationId":"deleteProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["Projects"],"operationId":"updateProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/folders/{folderId}":{"get":{"tags":["Folders"],"operationId":"getFolder","parameters":[{"name":"folderId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderDto"}}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]},"delete":{"tags":["Folders"],"description":"This endpoint deletes an empty folder. A folder is considered empty if there are no files in it.\n Deletion of resources is recursive and cannot be undone.","operationId":"deleteFolder","parameters":[{"name":"folderId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["Folders"],"description":"This endpoint updates the name or location of a folder, or both at the same time.<br/>\n<br/>\nTo move a folder, specify <em>projectId</em> and/or <em>parentId</em>:\n<ul>\n  <li><p>When only <em>parentId</em> is given, the file will be moved to that\n      folder. The folder must keep in the same organization.</p></li>\n  <li><p>When <em>projectId</em> is given and <em>parentId</em> is either\n      null or omitted altogether, the file will be moved to the root of the project.</p></li>\n  <li><p>When <em>projectId</em> and <em>parentId</em> are both given,\n      they must be consistent - i.e. the new parent folder is in the new project.</p></li>\n</ul>\n","operationId":"patchFolder","parameters":[{"name":"folderId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFolderDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/files/{fileId}":{"get":{"tags":["Files"],"operationId":"getFile","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDto"}}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]},"delete":{"tags":["Files"],"description":"Deletes a file.<br/>\n<br/>\n<strong>Note:</strong> Deleting a file will also delete other resources attached to the file (comments,\n call activity/business rule task links, milestones and shares) which might have side-effects.\n Deletion of resources is recursive and cannot be undone.","operationId":"deleteFile","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["Files"],"description":"This endpoint updates the content, name, or location of a file, or all at the same time.<br/>\n<br/>\nTo move a file, specify <em>projectId</em> and/or <em>folderId</em>:\n<ul>\n  <li><p>When only <em>folderId</em> is given, the file will be moved to that\n      folder. The folder can be in another project of the same organization.</p></li>\n  <li><p>When <em>projectId</em> is given and <em>folderId</em> is either\n      null or omitted altogether, the file will be moved to the root of the project.</p></li>\n  <li><p>When <em>projectId</em> and <em>folderId</em> are both given,\n      they must be consistent - i.e. the new parent folder is in the new project.</p></li>\n</ul>\n<p>The field <em>revision</em> holds the current revision of the file. This is used for detecting\nand preventing concurrent modifications.</p>\n<p>For connector templates, the following constraints apply:</p>\n  <ul>\n    <li><p>The value of <em>content.$schema</em> is not updatable.</p></li>\n    <li><p>The value of <em>content.name</em> can only be changed via <em>name</em>.</p></li>\n    <li><p>The value of <em>content.id</em> is not updatable.</p></li>\n    <li><p>The value of <em>content.version</em> is managed by Web Modeler and will be updated\n        automatically.</p></li>\n  </ul>\n","operationId":"patchFile","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFileDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileMetadataDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Bad Request\",\n\"status\":400,\n\"detail\":\"Request validation failed with the following errors: [name: 'must not be blank'].\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"403":{"description":"Forbidden","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Forbidden\",\n\"status\":403,\n\"detail\":\"Operation not allowed.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"409":{"description":"Conflict","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Conflict\",\n\"status\":409,\n\"detail\":\"There was a revision conflict while processing your file.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/milestones/{milestoneId}":{"get":{"tags":["Milestones"],"operationId":"getMilestone","parameters":[{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MilestoneDto"}}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]},"delete":{"tags":["Milestones"],"description":"Deletion of resources is recursive and cannot be undone.","operationId":"deleteMilestone","parameters":[{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/milestones/compare/{milestone1Id}...{milestone2Id}":{"get":{"tags":["Milestones"],"description":"Returns a link to a visual comparison between two milestones where the milestone referenced by\n<code>milestone1Id</code> acts as a baseline to compare the milestone referenced by <code>milestone2Id</code>\nagainst.\n","operationId":"compareMilestones","parameters":[{"name":"milestone1Id","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}},{"name":"milestone2Id","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MilestoneComparisonDto"}}}},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/info":{"get":{"tags":["Info"],"operationId":"getInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}},"/api/v1/projects/{projectId}/collaborators/{email}":{"delete":{"tags":["Collaborators"],"description":"Deletion of resources is recursive and cannot be undone.","operationId":"deleteCollaborator","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"c7dd6b25-9747-4857-a4cc-1cf1c0e6c3aa"}},{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n \"title\":\"Not Found\",\n \"status\":404,\n \"detail\":\"Resource not found.\",\n \"instance\":\"/api/v1/resource/id\"\n }"}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}}},"security":[{"Bearer":[]}]}}},"components":{"schemas":{"CreateCollaboratorDto":{"required":["email","projectId","role"],"type":"object","properties":{"email":{"maxLength":255,"minLength":1,"type":"string"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"role":{"pattern":"^project_admin|editor|viewer|commenter$","type":"string","description":"Allowed values are: \"project_admin\", \"editor\", \"viewer\" and \"commenter\""}}},"CreateProjectDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"}}},"ProjectMetadataDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"created":{"type":"string"},"createdBy":{"$ref":"#/components/schemas/UserDto"},"updated":{"type":"string"},"updatedBy":{"$ref":"#/components/schemas/UserDto"}}},"UserDto":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"}}},"PubSearchDtoProjectMetadataDto":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/ProjectMetadataDto"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortDto"}},"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"maximum":50,"minimum":0,"type":"integer","format":"int32"}}},"SortDto":{"required":["direction","field"],"type":"object","properties":{"field":{"type":"string"},"direction":{"type":"string","enum":["ASC","DESC"]}}},"PubSearchResultDtoProjectMetadataDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ProjectMetadataDto"}},"total":{"type":"integer","format":"int32"}}},"CreateMilestoneDto":{"required":["fileId","name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"fileId":{"maxLength":255,"minLength":1,"type":"string"}}},"MilestoneMetadataDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"fileId":{"type":"string"},"created":{"type":"string"},"createdBy":{"$ref":"#/components/schemas/UserDto"},"updated":{"type":"string"},"updatedBy":{"$ref":"#/components/schemas/UserDto"}}},"PubSearchDtoMilestoneMetadataDto":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/MilestoneMetadataDto"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortDto"}},"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"maximum":50,"minimum":0,"type":"integer","format":"int32"}}},"PubSearchResultDtoMilestoneMetadataDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/MilestoneMetadataDto"}},"total":{"type":"integer","format":"int32"}}},"CreateFolderDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"parentId":{"maxLength":255,"minLength":1,"type":"string"}}},"FolderMetadataDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"projectId":{"type":"string"},"parentId":{"type":"string"},"created":{"type":"string"},"updated":{"type":"string"},"createdBy":{"$ref":"#/components/schemas/UserDto"},"updatedBy":{"$ref":"#/components/schemas/UserDto"}}},"CreateFileDto":{"required":["content","fileType","name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"folderId":{"maxLength":255,"minLength":1,"type":"string"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"content":{"type":"string"},"fileType":{"pattern":"^bpmn|dmn|form|connector_template$","type":"string","description":"Allowed values are: \"bpmn\", \"dmn\", \"form\" and \"connector_template\""}}},"FileMetadataDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"projectId":{"type":"string"},"folderId":{"type":"string"},"simplePath":{"type":"string"},"canonicalPath":{"type":"array","items":{"$ref":"#/components/schemas/PathElementDto"}},"revision":{"type":"integer","format":"int32"},"type":{"type":"string"},"created":{"type":"string"},"createdBy":{"$ref":"#/components/schemas/UserDto"},"updated":{"type":"string"},"updatedBy":{"$ref":"#/components/schemas/UserDto"}}},"PathElementDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"PubSearchDtoFileMetadataDto":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/FileMetadataDto"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortDto"}},"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"maximum":50,"minimum":0,"type":"integer","format":"int32"}}},"PubSearchResultDtoFileMetadataDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/FileMetadataDto"}},"total":{"type":"integer","format":"int32"}}},"ProjectCollaboratorDto":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"projectId":{"type":"string"},"role":{"type":"string"}}},"PubSearchDtoProjectCollaboratorDto":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/ProjectCollaboratorDto"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortDto"}},"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"maximum":50,"minimum":0,"type":"integer","format":"int32"}}},"PubSearchResultDtoProjectCollaboratorDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ProjectCollaboratorDto"}},"total":{"type":"integer","format":"int32"}}},"UpdateProjectDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"}}},"UpdateFolderDto":{"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"parentId":{"maxLength":255,"minLength":1,"type":"string"}}},"UpdateFileDto":{"required":["revision"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"content":{"type":"string"},"revision":{"type":"integer","format":"int32"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"folderId":{"maxLength":255,"minLength":1,"type":"string"}}},"ProjectContent":{"type":"object","properties":{"folders":{"type":"array","items":{"$ref":"#/components/schemas/FolderMetadataDto"}},"files":{"type":"array","items":{"$ref":"#/components/schemas/FileMetadataDto"}}}},"ProjectDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/ProjectMetadataDto"},"content":{"$ref":"#/components/schemas/ProjectContent"}}},"MilestoneDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MilestoneMetadataDto"},"content":{"type":"string"}}},"MilestoneComparisonDto":{"type":"object","properties":{"url":{"type":"string"}}},"InfoDto":{"type":"object","properties":{"version":{"type":"string"},"authorizedOrganization":{"type":"string"},"createPermission":{"type":"boolean"},"readPermission":{"type":"boolean"},"updatePermission":{"type":"boolean"},"deletePermission":{"type":"boolean"}}},"FolderContentDto":{"type":"object","properties":{"folders":{"type":"array","items":{"$ref":"#/components/schemas/FolderMetadataDto"}},"files":{"type":"array","items":{"$ref":"#/components/schemas/FileMetadataDto"}}}},"FolderDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/FolderMetadataDto"},"content":{"$ref":"#/components/schemas/FolderContentDto"}}},"FileDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/FileMetadataDto"},"content":{"type":"string"}}}},"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}